
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}


.calculator {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}


.display {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #fff;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.btn {
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #777;
}

.operator {
    background-color: #d15d05;
}

.operator:hover {
    background-color: #b65903;
}

.equal {
    grid-column: span 4;
    background-color: #008000;
}

.equal:hover {
    background-color: #00b300;
}